.fooot{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
.fooot ul{
    display: flex;
    gap: 10vw;
}
.fooot ul li {
    display: flex;
    
}